body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background-color: #ffff;
  padding: 60px;

  box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-size: 35px;
}

select {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}

.city:last-child {
  border: none;
}

h2 {
  margin: 0;
  margin: 0 0 5px;
  font-size: 28px;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 44px;
  line-height: 34px;
  font-weight: bold;
  margin-top: 10px;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
